.home {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

a.recipe-link {
color: rgb(12, 12, 12);
}

a.recipe-link:hover {
  color: white;
}

.title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 500%;
  color: white;
  border: 2px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px;
}

.recipes {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  background-color: gray;
  text-align: center;
  column-count: 3;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.home-link-gyoza,
.home-link-cake,
.home-link-soup {
  font-weight: 300;
}

a.home-link-gyoza {
  color: white;
}

a.home-link-gyoza:hover {
  color: gray;
}

.background-one-third-gyoza {
  width: 27vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(images/lantern.jpeg);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat; 
  padding-right: 0;
}

.gyoza-page {
  width: 68vw;
  height: 100%;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
}

div {
  display: flex;
  justify-content: center;
}

.gyoza-pic,
.cake-pic,
.soup-pic {
  width: 50%;
}

h1, h2, h3, h4 {
  background-color: rgba(240, 240, 240, 0.322);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.gyoza-title,
.cake-title {
  color: white;
}

.soup-title {
  color: black;
}

.description {
  color: white;
  line-height: 1.5;
}

.ing-title {
  color: white;
}

.instruction-title {
  color: white;
}

.ingredients {
  color: white;
}

.instructions {
  color: white;
  line-height: 1.5;
}

.background-one-third-cake {
  width: 27vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(images/cake-background.jpg);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat; 
  padding-right: 0;
}

.cake-page {
  width: 68vw;
  height: 100%;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  background-color: rgb(109, 125, 134);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
}

a.home-link-cake,
a.home-link-soup {
  color: black;
}

a.home-link-cake:hover,
a.home-link-soup:hover {
  color: rgb(63, 63, 63);
}

.background-one-third-soup {
  width: 27vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(images/soup-background.jpg);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat; 
  padding-right: 0;
}

.soup-page {
  width: 68vw;
  height: 100%;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  background-color: rgb(196, 135, 4);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 270;
  font-style: normal;
}

.lentil {
  color: black;
  line-height: 1.5;
}
